body{
    background-color: #7a70ea;
    }

.superior{
    background-color: #e0ea70;
    min-height: 3em;
}

input{
    color: #2b41b9;
    margin-left:0;
    }

input:hover{
    background-color: #fff3b0;
    color:darkred;
}

button{
    color:black;
    background-color: #3d66d4;
    }

button:hover{
    color:black;
    background-color: #c71eba;
}


.categorias li a:hover{
   background-color: #ef8e0b;
}

#biblioteca{
    font-family:fantasy;
    padding: 2px 16px;
    text-align: center;
    font-size: 13px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resu{
    background-color: #e0ea70;
    width: 20%;
    margin-top: 6px;
    margin-left: 0.5%;
    margin-bottom: 6px;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    border-radius: 5px;
}

.resu:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.56);
    background-color: #ef8e0b;
}



img {
    width: 100%;
    height: 400px;
}
